<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div style="text-align:center; text-decoration: underline;">
            <h1>Un nouvel article vient d'être publié sur le blog!</h1>
        </div>
        <div style="border-top-style: dashed; border-top-width: 1px; text-align:center;">
            <h2 style="text-decoration: underline">{{ article.title }}</h2>
            <p>Catégorie : {{ article.category }}</p>
            <a href="{{ absolute_url(path('article_show', { 'id' : article.id })) }}">Voir l'article</a>
        </div>
    </body>
</html>


